@import './theme.scss';


.tk-window-screen {
    border-radius: $defaultBorder;
    overflow: hidden;

    .tk-taskbar {
        // height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        $circleSize: 12px;

        .tk-circles {
            display: flex;
        }

        .tk-circle {
            width: $circleSize;
            height: $circleSize;
            margin: 0 5px;
            border-radius: 50%;
        }

        .tk-circle1 {
            background-color: #ef4444;
        }

        .tk-circle2 {
            background-color: #f59e0b;
        }

        .tk-circle3 {
            background-color: #10b981;
        }

        .tk-url {
            flex: 1;
            display: flex;
            justify-content: center;

            .tk-url-box {
                background-color: #00000030;
                font-size: 14px;
                padding: 5px;
                width: 70%;
                text-align: center;
                border-radius: $defaultBorder;
                color: #ffffff60;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
